* {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #012970;
  font-weight: 700;
}

.navbar-brand img {
  width: 10rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #013289 !important;
  margin-right: 20px;
}

.nav-link.active {
  color: #4154f1 !important;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

/* nav ul {
    list-style:none;
} */

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*form code*/
html,
body {
  min-height: 100%;
}
body,
div,
form,
input,
select,
textarea,
label {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}
/* nav {
    height: 58.68px;
    line-height: 58.68px;
    } */
h1 {
  position: relative;
  display: inline;
  font-size: 36px;
  color: rgb(26, 26, 26);
  z-index: 2;
  line-height: 83px;
}
.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 50px 350px 0 350px;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0 30px #dcdcdc;
}
input,
select,
textarea {
  margin-bottom: 10px;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(184, 184, 184);
  border-radius: 0px;
  outline: 0;
}
input {
  width: calc(100% - 10px);
  padding: 2px;
}
input[type="date"] {
  padding: 4px 5px;
}
textarea {
  width: calc(100% - 12px);
  padding: 5px;
  resize: none;
}
.item:hover p,
.item:hover i,
.question:hover p,
.question label:hover,
input:hover::placeholder {
  color: #2f2e2c;
}
.item input:focus,
.item select:focus,
.item textarea:focus {
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.title input:focus,
.title select:focus,
.title textarea:focus {
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.title {
  position: relative;
  margin: 10px 20px 0 25px;
}
.title span {
  color: red;
  position: absolute;
  margin: 29.5px 0 5px 3px;
  font-size: 22px;
  display: inline;
}
.item {
  position: relative;
  margin: 10px 20px 0 20px;
}
.item label {
  padding: 0 0 0 20px;
}
.item span {
  color: red;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.item i,
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  font-size: 20px;
  color: #fbfbfb;
}
.item i {
  right: 1%;
  top: 30px;
  z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
  right: 1%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.btn-block {
  margin-top: 10px;
  text-align: center;
}
.btn-block button {
  width: 150px;
  padding: 10px;
  margin: 0 0 25px 0;
  border: none;
  border-radius: 50px;
  background: #563476;
  box-shadow: 0px 10px 25px #bea9e6;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.btn-block button:hover {
  background: #6f42c1;
}
