* {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #012970;
  font-weight: 700;
}

.navbar-brand img {
  width: 10rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #013289 !important;
  margin-right: 20px;
}

.nav-link.active {
  color: #4154f1 !important;
}

button.create-trip {
  background-color: #012970;
  color: white;
  font-size: 1.1rem;
}

button.create-trip:hover {
  background-color: #003591;
  color: white;
}

.searchbar {
  width: 300px;
  border: 2px solid #013289;
  padding: 0.5rem;
}

.searchbar input {
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.searchbar button {
  background: #013289;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
}

.game-container {
  background-color: #170f31;
  border-radius: 1rem;
}

.game-container img {
  border-radius: 1rem 1rem 0 0;
}

.game-container .game-info {
  color: white;
}

.game-container .game-info span {
  font-size: 0.8rem;
  padding: 3px 4px 0 4px;
  font-weight: 700;
}

.game-container .game-info h3 {
  color: white;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}

#gameInfoModal .modal-body {
  background-color: #170f31;
}

#gameScreenshotCarousel {
  height: 300px;
}

#gameScreenshotCarousel img {
  object-fit: cover;
}

#gameInfoModal .game-info {
  width: 525px;
}

#gameInfoModal .game-info h6 {
  font-size: 0.9rem;
  color: #5236ad;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
  width: 0;
}

.upvote-button {
  color: greenyellow;
}

.upvote-button:hover {
  color: rgb(120, 179, 32);
}

.upvote-button:focus {
  outline: none;
  box-shadow: none;
}

.downvote-button {
  color: red;
}

.downvote-button:hover {
  color: rgb(207, 0, 0);
}

.downvote-button:focus {
  outline: none;
  box-shadow: none;
}
