* {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #012970;
  font-weight: 700;
}

.navbar-brand img {
  width: 10rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #013289 !important;
  margin-right: 20px;
}

.nav-link.active {
  color: #4154f1 !important;
}

button.create-trip {
  background-color: #012970;
  color: white;
  font-size: 1.1rem;
}

button.create-trip:hover {
  background-color: #003591;
  color: white;
}

.searchbar {
  width: 300px;
  border: 2px solid #013289;
  padding: 0.5rem;
}

.searchbar input {
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.searchbar button {
  background: #013289;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
}

.movie-image {
  object-fit: cover;
  border-radius: 0.5rem;
}

.movies .movie-info {
  color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 35%
  );
  border-radius: 0 0 0.5rem 0.5rem;
}

.movies .movie-info h4 {
  color: white;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
}

.modal-top-part {
  height: 400px;
}

.modal-top-part img {
  object-fit: cover;
}

.bg-img-backdrop {
  background-color: black;
  opacity: 70%;
}

.dot {
  display: inline-block;
  background: white;
  height: 5px;
  width: 5px;
}

.modal-movie-rating {
  width: 55px;
  height: 55px;
  border: 3px solid greenyellow;
}

.modal-movie-rating .rating {
  font-size: 1.1rem;
  font-weight: bold;
}

.modal-movie-rating .percentage-sign {
  font-size: 0.8rem;
}

.d-flex.overflow-auto::-webkit-scrollbar {
  height: 5px;
}

.d-flex.overflow-auto::-webkit-scrollbar-track {
  background-color: rgb(207, 207, 207);
  border-radius: 50rem;
}

.d-flex.overflow-auto::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  border-radius: 50rem;
}

.d-flex.overflow-auto::-webkit-scrollbar-thumb:hover {
  background-color: rgb(65, 65, 65);
}

.cast-card {
  max-width: 140px;
  min-width: 140px;
  border-radius: 0.5rem;
  margin-right: 0.8rem;
}

.cast-card img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.cast-card-body {
  padding: 0.6rem;
}

.cast-card-body .card-text {
  font-size: 0.9rem;
}

.modal-dialog-scrollable .modal-body::-webkit-scrollbar {
  width: 0;
}

.upvote-button {
  color: greenyellow;
}

.upvote-button:hover {
  color: rgb(120, 179, 32);
}

.upvote-button:focus {
  outline: none;
  box-shadow: none;
}

.downvote-button {
  color: red;
}

.downvote-button:hover {
  color: rgb(207, 0, 0);
}

.downvote-button:focus {
  outline: none;
  box-shadow: none;
}
