* {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #012970;
  font-weight: 700;
}

.navbar-brand img {
  width: 10rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #013289 !important;
  margin-right: 20px;
}

.nav-link.active {
  color: #4154f1 !important;
}

.movies-heading {
  font-weight: 100;
  font-size: 2.5rem;
}

.movies .movie-image {
  object-fit: cover;
  border-radius: 0.5rem;
}

.movies .movie-info {
  color: white;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 35%
  );
  border-radius: 0 0 0.5rem 0.5rem;
}

.movies .movie-info h4 {
  color: white;
}
