/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1513128034602-7814ccaddd4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80');
  background-size: cover;
  background-position: center center;
}

.img-upload img {
  width: 5.5rem;
  height: 5.5rem;
  object-fit: cover;
}

.img-upload input {
  display: none;
}
.img-upload label{
  margin-left: 0.7rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  font-weight: 500;
}