* {
    font-family: "Nunito", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #012970;
    font-weight: 700;
  }
  
  .navbar-brand img {
    width: 10rem;
  }
  
  .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: #013289 !important;
    margin-right: 20px;
  }
  
  .nav-link.active {
    color: #4154f1 !important;
  }

  .searchbar {
    width: 300px;
    border: 2px solid #013289;
    padding: 0.5rem;
  }
  
  .searchbar input {
    border: none;
    outline: none;
    font-size: 1.2rem;
  }
  
  .searchbar button {
    background: #013289;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
  }

  .event-container {
      border-radius: 0.2rem 1.5rem 0.8rem 1.5rem;
  }

  .event-detail-heading {
      color: grey;
      font-weight: 700;
      font-size: 0.8rem;
      opacity: 0.8;
  }

  .event-detail {
      font-size: 0.8rem;
      font-weight: 900;
      color: #4154f1;
  }
  
  .event-image {
      border-radius: 0 1.5rem 0 1.5rem;
  }

  a.read-more {
      text-decoration: none;
      color: #013289;
      font-size: 0.9rem;
  }